.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #FF82B3 ;
    height: 100vh;
    animation: transitionIn 0.75s;
    transition: all 0.3s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#quote-box {
    width: 40%;
    height: 300px;
    margin-left: 30%;
    margin-top: 15%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}
#new-quote {
    border: none;
    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FF82B3 ;
    transition: all 0.3s;
    font-family: 'BPG Nino Elite Cond Caps';
    font-weight: bold;
    opacity: 0.8;
    margin-right: 4%;
    
}
#new-quote:hover {
    opacity: 1;
}
#text {
    margin-bottom: 5%;
    transition: all 0.3s;
    color: #FF82B3;
    font-family: 'ALK Life';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#author {
    margin-bottom: 10%;
    transition: all 0.3s;
    color: #FF82B3;
    font-family: 'BPG Nino Elite Cond Caps';
}
.quotation {
    font-size: 100px;
    transition: all 0.3s;
    color: #FF82B3;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.social div {
    margin-left: 4%;
}
#tweet-quote {
    padding: 10px;
    opacity: 0.8;
}
#trumbl-quote {
    padding: 10px;
    opacity: 0.8;
    
}
#tweet-quote:hover {
    opacity: 1;
}
#trumbl-quote:hover {
    opacity: 1;
}